{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "always",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
